.ipynb_checkpoints
__pycache__
*.egg-info
Gemfile*
Gemfile.lock
docs/_site
build
dist
.vscode
.idea
*.gif
*.icloud
*.csv
data
*.parquet
tmp
_docs/
_proc/
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
.venv
.idea
mlruns/
.luarc.json
*.so
*.dll


# ignore files created in the docs folder
docs/*.md
docs/**/*.mdx

docs-scripts
docs/mintlify/examples

nbs/_extensions
.quarto

*.png
.coverage*