.ipynb_checkpoints
__pycache__
*.egg-info
Gemfile*
Gemfile.lock
docs/_site
build
dist
.vscode
.idea
*.gif
*.icloud
*.csv
*/data/*
*.parquet
tmp
_docs/
_proc/
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
.venv
.idea
.luarc.json
