.ipynb_checkpoints
__pycache__
*.egg-info
Gemfile*
Gemfile.lock
docs/_site
build
dist
.vscode
*.gif
*.csv
*/data/*
*.parquet
tmp
_docs/
_proc/
sidebar.yml
.DS_Store
.gitattributes
.gitconfig
nbs/.last_checked
