[project]
name = "statsforecast"
version = "1.7.1.99"
requires-python = ">=3.8"
dependencies = [
    "cloudpickle",
    "fugue>=0.8.1",
    "importlib-resources ; python_version < '3.10'",
    "numba>=0.55.0",
    "numpy>=1.21.6",
    "pandas>=1.3.5",
    "scipy>=1.7.3",
    "statsmodels>=0.13.2",
    "tqdm",
    "utilsforecast>=0.0.24",
]
license = { text = "Apache-2.0" }
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
description = "Time series forecasting suite using statistical models"
authors = [
    {name = "Nixtla", email = "business@nixtla.io"},
]
readme = "README.md"
keywords = ["time-series", "forecasting", "arima", "ets"]

[project.optional-dependencies]
dask = ["fugue[dask]>=0.8.1", "protobuf>=3.15.3,<4", "ray<2.8"]
plotly = ["plotly", "plotly-resampler"]
polars = ["polars"]
ray = ["fugue[ray]>=0.8.1"]
spark = ["fugue[spark]>=0.8.1"]
dev = [
    "black",
    "datasetsforecast",
    "flake8",
    "fugue[dask,ray,spark]>=0.8.1",
    "mypy",
    "nbdev",
    "nbdev_plotly",
    "pandas[plot]",
    "plotly",
    "plotly-resampler",
    "pmdarima",
    "polars",
    "prophet",
    "protobuf>=3.15.3,<4",
    "pyarrow",
    "ray<2.8",
    "scikit-learn",
    "supersmoother",
]

[project.entry-points.nbdev]
statsforecast = "statsforecast._modidx:d"

[project.urls]
homepage = "https://nixtla.github.io/statsforecast"
documentation = "https://nixtla.github.io/statsforecast"
repository = "https://github.com/Nixtla/statsforecast"

[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[tool.scikit-build]
cmake.verbose = true
logging.level = "INFO"
sdist.exclude = [
    "action_files",
    "dev",
    "experiments",
    "nbs",
    "settings.ini",
]
sdist.reproducible = true
wheel.install-dir = "statsforecast"
wheel.packages = ["python/statsforecast"]
wheel.py-api = "py3"

[tool.cibuildwheel]
archs = "all"
build-verbosity = 3
test-command = "pytest {project}/action_files/test_fit_predict.py"
test-requires = "pytest"
test-skip = "*-macos_arm64"
