holidays<0.21
jupyterlab
matplotlib
numba>=0.55.0
numpy>=1.21.6
pandas>=1.3.5
pyspark>=3.3
pip
prophet
pyarrow
scipy>=1.7.3
statsmodels>=0.13.2
tabulate
plotly
utilsforecast>=0.0.5
fugue[dask,ray]
nbdev
plotly-resampler
polars
supersmoother
tqdm
