/* old */
.cell {
  margin-bottom: 1rem;
}

.cell > .sourceCode {
  margin-bottom: 0;
}

.cell-output > pre {
  margin-bottom: 0;
}

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid lightsalmon;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output > .sourceCode {
  border: none;
  background: none;
  margin-top: 0;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  font-style: italic;
  font-size: 135%;
  opacity: 70%;
}

/* show_doc signature */
blockquote > pre {
  font-size: 14px;
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
}

.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

/* new */
@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter-VariableFont.ttf') format('ttf')
}

:root {
  --primary: rgb(75, 176, 215);
  --secondary: rgb(255, 112, 0);
}

html, body {
  color: #374151;
  font-family: 'Inter', sans-serif;
}

header {
  transform: translateY(0) !important;
}

#title-block-header {
  margin-block-end: 2rem;
}

#quarto-sidebar {
  top: 62px !important;
  z-index: 100;
}

.content a {
  color: rgb(12, 18, 26);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 1px solid var(--primary);
}

.content a:hover {
  border-bottom: 2px solid var(--primary);
}

a > code {
  background-color: transparent !important;
}

.navbar {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
  border-bottom: 1px solid rgba(17, 24,39, 0.05);
}

.nav-link {
  color:rgba(17, 24,39, 0.6) !important;
  font-size: 0.875rem;
}

.nav-link.active {
  color:rgb(17, 24,39) !important;
}

.aa-SubmitIcon {
  fill: rgba(17, 24,39, 0.6) !important;
  height: 20px !important;
  margin-top: -2px;
}

.navbar #quarto-search {
  margin-left: -2px;
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-brand {
  background-image: url('./assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.25rem;
}

.navbar-title {
  opacity: 0;
  pointer-events: none;
}

.content {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(17, 24,39);
  margin-top: 3rem;
}

h1.title {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

div.description {
  font-style: normal;
  font-size: .875rem;
  line-height: 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

/* menu */
.sidebar-menu-container > ul > li:first-child > .sidebar-item-container > a > span {
  font-weight: 600 !important;
  font-size: 0.875rem;
  color: var(--secondary);
}

div.sidebar-item-container {
  color: #323232;
}

.sidebar-divider.hi {
  color: rgb(0,0,0, 0.2);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#quarto-margin-sidebar {
  top: 63px !important;
}

.menu-text {
  font-weight: 400;
}


ul.sidebar-section {
  padding-left: 0;
}

.sidebar-link {
  line-height: 2.125rem;
  padding: 0 0.5rem;
}

.sidebar-menu-container {
  padding-right: 0 !important;
}

ul.sidebar-section .sidebar-link {
  padding-left: 1rem;
  width: 100%;
}

.sidebar-link.active {
  background: rgba(255, 112, 0, 0.1);
  border-radius: 0.25rem;
}

.sidebar-link.active span {
  font-weight: 600 !important;
  color: var(--secondary);
}

.callout {
  border-left: auto !important;
  border-radius: 1rem;
  padding: 0.75rem;
}

.callout-tip {
  background: rgba(63,182,24, 0.05);
  border: 1px solid rgba(63,182,24, 0.25) !important;
}

.callout-note {
  background: rgba(59 , 130, 246, 0.05);
  border: 1px solid rgba(59, 130, 246, 0.25) !important;
}

.callout-style-default > .callout-header {
  background: none !important;
}

code:not(.sourceCode) {
  background-color: rgb(249, 250, 251, 0.7) !important;
  border: 1px solid rgba(12, 18, 26, 0.1) !important;
  border-radius: 0.375rem;
  color: rgba(12, 18, 26, 0.8) !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  padding: 0.25rem 0.5rem !important;
}

div.sourceCode {
  background: none;
  border: 0;
  overflow-x: hidden;
}

.cell-output {
  margin-top: 1rem;
}

.cell-output pre {
  border-radius: 0.375rem;
}

.cell-output > div {
  overflow-x: scroll;
}

.code-copy-button {
  margin: 0.5rem;
}

pre.sourceCode {
  padding: 0;
}

code {
  background-color: rgb(249, 250, 251, 0.7) !important;
  border: 1px solid rgba(12, 18, 26, 0.1) !important;
  border-radius: 0.75rem;
  color: rgba(12, 18, 26, 0.8) !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  padding: 1rem !important;
  overflow-x: scroll !important;
}



.cell-output > div {
  border: 1px solid rgba(100, 116, 139, 0.2) !important;
  border-radius: 1rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

table, .table {
  border-radius: 1rem;
  font-size: 0.875rem;
  padding: 1rem;
  margin-bottom: 0;
}

thead {
  background: rgba(12, 18, 26, 0.02);
  border-bottom-color: rgba(100, 116, 139, 0.2) !important;
}

thead tr:first-child {
  background-color: rgb(249, 250, 251, 0.7) !important;
}

thead tr:first-child th:first-child {
  border-radius: 1rem 0 0 0;
}

thead tr:first-child th:last-child {
  border-radius: 0 1rem 0 0;
}

th {
  padding: 0.5rem 1rem !important;
  white-space: nowrap;
}

tbody {
  border-color: transparent !important;
  border-top: none !important;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 1rem;
}

tr.even, tr.odd {
  line-height: 2rem;
}

tr:hover {
  background-color: rgba(17, 24, 39, 0.05);
}

td:first-child, td:last-child {
  padding: 0.25rem 1rem !important;
}

.dropdown-menu.show {
  background: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding-top: 0.5rem !important;
  padding-bottom: 0.25rem !important;
}

.dropdown-menu li {
  padding: 0.25rem 1rem !important;
}

.dropdown-menu li:hover {
  background-color: #e9ecef;
}

.js-plotly-plot .plotly {
  border: none !important;
}

.svg-container {
  border: none !important;
}

.svg-container > svg {
  border-radius: 2rem;
}

.plotly-graph-div {
  border-radius: 5rem;
}

@media (max-width: 991.98px) {
  #quarto-sidebar-glass.show {
    z-index: 10001;
  }

  #quarto-sidebar {
    top: 0 !important;
    z-index: 10002 !important;
  }

  #quarto-sidebar .sidebar-menu-container {
    min-width: unset;
    width: calc(100% - 32px);
  }

  #quarto-sidebar.show {
    max-width: calc(100vw - 32px);
    width: 320px !important;
  }
}
