name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run tests for cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
    runs-on: ${{ matrix.os-platform[0] }}
    timeout-minutes: 60
    env:
      CIBW_BUILD_FRONTEND: build[uv]
    strategy:
      fail-fast: false
      matrix:
        python-version: [310, 311, 312, 313]
        os-platform:
          [
            [ubuntu-latest, manylinux_x86_64],
            [ubuntu-latest, manylinux_aarch64],
            [windows-latest, win_amd64],
            [macos-15, macosx_x86_64],
            [macos-14, macosx_arm64],
            [macos-15, macosx_arm64],
            [macos-latest, macosx_arm64],
          ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: "true"

      - name: Set up QEMU
        if: matrix.os-platform[1] == 'manylinux_aarch64'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64

      - name: Set up uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          version: "latest"

      - name: Build wheels and run all tests
        if: matrix.os-platform[0] == 'ubuntu-latest'
        uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e # v3.3.1
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          CIBW_TEST_SKIP: "*linux_aarch64"
          CIBW_BEFORE_TEST: >
            yum install -y java-17-openjdk
          CIBW_TEST_COMMAND: >
            uv pip install -r {project}/setup.py --extra all && pytest --durations=0 {project}/action_files -k "not efficiency" --no-cov

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: github.event_name == 'push'
        with:
          name: artifact-cp${{ matrix.python-version }}-${{ matrix.os-platform[1] }}
          path: wheelhouse/*.whl
          retention-days: 1

  publish-nightly-wheels:
    if: github.event_name == 'push'
    needs: [run-tests]
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_NIXTLA_PACKAGES }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_NIXTLA_PACKAGES }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Download wheels
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          pattern: "artifact-*"
          merge-multiple: true

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"

      - name: Publish wheels
        run: |
          pip install awscli beautifulsoup4
          aws s3 cp s3://nixtla-packages/statsforecast/index.html .
          python action_files/update_index.py
          aws s3 sync dist s3://nixtla-packages/statsforecast/

  test-m3-performance:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: "true"

      - name: Set up environment
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.10"

      - name: Install the library
        run: pip install uv && uv pip install --system ".[dev]" "datasetsforecast @ git+https://github.com/Nixtla/datasetsforecast.git@95a9ea44115b5ed6088e30f786aa0c39f9e094ac"

      - name: Run M3 experiment
        run: |
          python -m src.experiment
          python -m src.evaluation --test
        working-directory: ./experiments/m3

  efficiency-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: "true"

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install uv && uv pip install --system . scikit-learn pytest-cov pytest-codspeed pytest-xdist

      - name: Run benchmarks
        uses: CodSpeedHQ/action@fa0c9b1770f933c1bc025c83a9b42946b102f4e6 # 4.10.4
        with:
          token: ${{ secrets.CODESPEED_TOKEN }}
          run: pytest action_files/test_efficiency.py --codspeed -n 2 --no-cov
